<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">


	<!-- signup -->
	<insert id="signup_ok" parameterType="com.exam.model1.UserTO">
		insert into user
		values( #{id}, #{pwd}, #{name}, #{birth}, #{mail}, #{phone}, #{nick}, now(),
		ifnull( #{profile}, profile ), ifnull( #{greet}, greet ) )
	</insert>

	<select id="nick_lookup" parameterType="com.exam.model1.UserTO"
		resultType="Int">
		select count( nick )
		from user
		where nick like #{ nick };
	</select>


	<!-- 회원있는지 여부확인 -->
	<select id="login_lookup" parameterType="com.exam.model1.UserTO"
		resultType="Int">
		select count( id )
		from user
		where id like #{ id };
	</select>

	<select id="login_ok" parameterType="com.exam.model1.UserTO"
		resultType="Int">
		select count(*)
		from user
		where id like #{id} and pwd like #{pwd}
	</select>

	<select id="login_decry" parameterType="com.exam.model1.UserTO"
		resultType="com.exam.model1.UserTO">
		select pwd
		from user
		where id like #{id}
	</select>

	<!-- 회원있는지 여부확인 -->
	<select id="pwFind_lookup"
		parameterType="com.exam.model1.UserTO" resultType="Int">
		select count( id )
		from user
		where id like #{ id };
	</select>

	<!-- 메일 일치 여부 확인 -->
	<select id="pwFind_ok" parameterType="com.exam.model1.UserTO"
		resultType="Int">
		select count(*)
		from user
		where id = #{id} and mail = #{mail}
	</select>

	<!-- 전송을 위한 비밀번호 조회 -->
	<select id="pwdFind_update"
		parameterType="com.exam.model1.UserTO"
		resultType="com.exam.model1.UserTO">
		select pwd
		from user
		where id = #{id} and mail = #{mail}
	</select>



	<!-- ================  랜선여행 하기  ================= -->
	<!--Lantriplist -->
	<select id="lanTripList" resultType="com.exam.model1.LanTripTO">
		select no, subject, writer, date_format(wdate, '%Y-%m-%d') wdate, hit, location, video, reply, heart
		from l_board
	</select>

	<!-- lanTrip write_ok -->
	 
	<insert id="lanTrip_write_ok" parameterType="com.exam.model1.LanTripTO">
		insert into l_board
		values(0, #{ subject }, #{ content }, #{ writer }, now(), 0, #{ location }, #{ video }, 0, 0 )
	</insert>
	
	<!-- lanTrip view -->
	<select id="lanTrip_view" parameterType="com.exam.model1.LanTripTO" resultType="com.exam.model1.LanTripTO">
		select no, subject, writer, date_format(wdate, '%Y-%m-%d') wdate, content, hit, location, video, reply, heart
		from l_board
		where no=#{no}
	</select>
	<update id="view_hit" parameterType="com.exam.model1.LanTripTO">
		update l_board set hit=hit+1
		where no=#{no}
	</update>
	<!-- ================  랜선여행 신청하기  =================  -->
	<!-- LanTripApplyList -->
	<select id="LanTripApplyList"
		resultType="com.exam.model1.LanTripApplyTO"> <!-- 파라메터가 없으므로 parameter Type 필요 없음 -->
		select no, subject, writer, date_format(wdate, '%Y-%m-%d') wdate, hit, reply
		from la_board
	</select>

	<!-- LanTripApplyWriteOk -->
	<insert id="lanTrip_apply_write_ok" parameterType="com.exam.model1.LanTripApplyTO">
		insert into la_board
		values(0, #{ subject }, #{ content }, #{ writer }, now(), 0, #{ location }, #{ picture }, 0 )
	</insert>

	<!-- LanTripApplyView -->
	<select id="lanTrip_apply_view" parameterType="com.exam.model1.LanTripApplyTO" resultType="com.exam.model1.LanTripApplyTO">
		select no, subject, content, writer, date_format(wdate, '%Y-%m-%d') wdate, hit, location, picture, reply
		from la_board
		where no = #{no}
	</select>
	
<!-- 	<update id="lanTrip_apply_view_hit" parameterType="com.exam.model1.LanTripApplyTO">
		update 
	</update>
 -->

	<!--  =================  사진자랑하기   =================  -->
	<insert id="picture_write_ok" parameterType="com.exam.model1.PictureTO">
		insert into p_board
		values(0, #{ subject }, #{ content }, #{ writer }, now(), 0, #{ location }, #{ media }, 0 )
	</insert>

	<!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ여행지정보 관련ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
	<!--ㅡㅡㅡㅡㅡㅡ 쇼핑관련 ㅡㅡㅡㅡㅡㅡ -->
	<!-- 쇼핑 write_ok -->
	<insert id="shop_write_ok" parameterType="com.exam.model1.ShoppingTO">
		insert into s_board
		values(0, #{ subject }, #{ content }, #{ writer }, now(), 0, #{ location }, #{ picture }, 0, 0 )
	</insert>

	<!-- 쇼핑 list -->
	<select id="shopList" parameterType="com.exam.model1.ShoppingTO"
		resultType="com.exam.model1.ShoppingTO">
		select no, subject, content, writer, date_format(wdate, '%Y-%m-%d') wdate, hit, datediff(now(), wdate) wgap, ifnull(picture, '') picture, reply, heart
		from s_board
		where location like #{ location }
		order by no desc
	</select>

	<!-- 쇼핑 view -->
	<select id="shopView" parameterType="com.exam.model1.ShoppingTO" 
			resultType="com.exam.model1.ShoppingTO">
		select no, subject, content, writer, wdate, hit, location, picture, reply, heart
		from s_board
		where no = #{no}
	</select>
	
	<!-- 쇼핑 view hit 올리기 -->
	<update id="shopViewHit" parameterType="com.exam.model1.ShoppingTO">
		update s_board
		set hit = hit + 1 
		where no = #{no}
	</update>
	
	<!-- 쇼핑 view reply 수 불러오기 -->
	<update id="shopViewReply" parameterType="com.exam.model1.ShoppingTO">
		update s_board
		set reply = ( select count(*) 
				from s_reply
				where bno = #{no} )
		where no = #{no}
	</update>

	<!-- 쇼핑 comment list -->
	<select id="shopListComment" parameterType="com.exam.model1.ShoppingCommentTO"
		resultType="com.exam.model1.ShoppingCommentTO">
		select no, bno, writer, content, wdate
		from s_reply
		where bno = #{bno}
	</select>
	
	<!-- 쇼핑 comment write ok -->
	<insert id="shopViewCommentOk" parameterType="com.exam.model1.ShoppingCommentTO">
		insert into s_reply
		values( 0, #{bno}, #{writer}, #{content}, now() )
	</insert>

	<!--ㅡㅡㅡㅡㅡㅡ 숙소관련 ㅡㅡㅡㅡㅡㅡ -->
	<!-- 숙소 write_ok -->
	<insert id="accom_write_ok"
		parameterType="com.exam.model1.AccomTO">
		insert into a_board
		values(0, #{ subject }, #{ content }, #{ writer }, now(), 0, #{ location }, #{ picture }, 0, 0 )
	</insert>

	<!-- 숙소 list -->
	<select id="accomList" parameterType="com.exam.model1.AccomTO"
		resultType="com.exam.model1.AccomTO">
		select no, subject, writer, date_format(wdate, '%Y-%m-%d') wdate, hit, datediff(now(), wdate) wgap, ifnull(picture, '') picture, reply, heart
		from a_board
		where location like #{ location }
		order by no desc
	</select>

	<!-- 숙소 view -->
	<select id="accomView" parameterType="com.exam.model1.AccomTO" 
			resultType="com.exam.model1.AccomTO">
		select no, subject, content, writer, wdate, hit, location, picture, reply, heart
		from a_board
		where no = #{no}
	</select>
	
	<!-- 숙소 view hit 올리기 -->
	<update id="accomViewHit" parameterType="com.exam.model1.AccomTO">
		update a_board
		set hit = hit + 1 
		where no = #{no}
	</update>
	
	<!-- 숙소 view reply 수 불러오기 -->
	<update id="accomViewReply" parameterType="com.exam.model1.AccomTO">
		update a_board
		set reply = ( select count(*) 
				from a_reply
				where bno = #{no} )
		where no = #{no}
	</update>
	
	<!-- 숙소 comment list -->
	<select id="accomListComment" parameterType="com.exam.model1.AccomCommentTO"
		resultType="com.exam.model1.AccomCommentTO">
		select no, bno, writer, content, wdate
		from a_reply
		where bno = #{bno}
	</select>
	
	<!-- 숙소 comment write ok -->
	<insert id="accomViewCommentOk" parameterType="com.exam.model1.AccomCommentTO">
		insert into a_reply
		values(0, #{bno}, #{writer}, #{content}, now() )
	</insert>

</mapper>

