<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">

	<!-- signup -->
	<insert id="signup_ok" parameterType="com.exam.model1.UserTO">
		insert user values(#{id}, #{password}, #{byear}, #{bmonth}, #{bdate}, #{mail}, #{phone}, #{nick}, now(), #{content}, #{profile})
	</insert>

	<!-- login -->
	<!-- 회원있는지 여부확인 -->
	<select id="login_lookup" parameterType="com.exam.model1.UserTO" 
		resultType="Int">
		select count( id )
		from user 
		where id like #{ id };
	</select>
	
	<select id="login_ok" parameterType="com.exam.model1.UserTO" 
		resultType="Int">  
		select count(*)
		from user 
		where id like #{id} and pwd like #{pwd} 
	</select>
	
</mapper>