<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis">


	<!-- signup -->
	<insert id="signup_ok" parameterType="com.exam.model1.UserTO">
		insert into user values( #{id}, #{pwd}, #{name}, #{birth}, #{mail}, #{phone}, #{nick}, now(), ifnull( #{profile}, profile ), ifnull( #{greet}, greet ) )  
	</insert>

	<!-- 회원있는지 여부확인 -->
	<select id="login_lookup" parameterType="com.exam.model1.UserTO" 
		resultType="Int">
		select count( id )
		from user 
		where id like #{ id };
	</select>
	
	<select id="login_ok" parameterType="com.exam.model1.UserTO" 
		resultType="Int">  
		select count(*)
		from user 
		where id like #{id} and pwd like #{pwd} 
	</select>
	
	<select id="login_decry" parameterType="com.exam.model1.UserTO"
      resultType="com.exam.model1.UserTO">
	select pwd
	from user
	where id like #{id}
   </select>
	
		<!-- 회원있는지 여부확인 -->
	<select id="pwFind_lookup" parameterType="com.exam.model1.UserTO" 
		resultType="Int">
		select count( id )
		from user 
		where id like #{ id };
	</select>
		<!-- 메일 일치 여부 확인 -->
	<select id="pwFind_ok" parameterType="com.exam.model1.UserTO" 
		resultType="Int">  
		select count(*)
		from user 
		where id = #{id} and mail = #{mail} 
	</select>
	
	<!-- 전송을 위한 비밀번호 조회 -->
	<select id="pwdFind_update" parameterType="com.exam.model1.UserTO"
		resultType="com.exam.model1.UserTO">
		select pwd
		from user
		where id = #{id} and mail = #{mail}
	</select>
	
	<!-- LanTripApplyList -->
	<select id="LanTripApplyList" resultType="com.exam.model1.LanTripApplyTO"> <!-- 파라메터가 없으므로 parameter Type 필요 없음 -->
		select no, subject, writer, wdate, hit
		from la_board
		order by no desc
	</select>
	
	
</mapper>




