@charset "UTF-8";

body {
	color: #999;
	background: #f4f4f4;
	font-family: 'Nanum Pen Script', cursive;
}
.banner {
  background: #a770ef;
  background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
  overflow: auto;
}
.select-form {
	width: 500px;
	/* margin: 0 auto; */
	float: left;
	padding: 30px 0;
}
.select-form h3 {
	color: #333;
	margin: 0 0 5px 0;
	display: inline-block;
	padding: 0 20px 10px 20px;
	border-bottom: 3px solid #5cd3b4;
}

#profileImage {
   width: 30px;
   height: 30px;
   border: 0px;
   /*border: 1px solid #cecece;*/
   border-radius: 50%;
}

.contents1 {
	margin: 0px auto;
	display: table;
}
.contents_sub {
	margin: 0px auto;
	margin-bottom: 30px;
	width: 95%;
	height: 100%;
	text-align: center;
	background-color: #fff!important;
	border-radius: 1em;
	display: table-cell;
}

.board_list {
	display: inline-block;	
}
.total {
	text-align: left!important;
	padding-left: 10px;
	padding-top: 10px;
}
.card-img-div {
	width: 200px;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
}
.card img {
	max-width: 200px;
	max-height: 200px;
}
.board {
	margin: 10px;
}
img:hover {
	transform: scale(1.05);
	opacity: 0.7;
}
.card-body {
	padding: 0px!important;
	border-bottom: thick double #5cd3b4;
}
.align_right {
	text-align: right;
	padding-right: 10px;
	margin-top: 50px;
}
.txt_orange {
	color: #ff0080;
}
.board_pagetab {
	padding-bottom: 10px;
}

.heart-click {
   color: red;
}

a.heart-click:hover {
   color: red;
}

.weather_div1 {
	width: 270px;
	height: 250px;
	float: right;
	color: white;
	text-align: center;
	margin-right: 5px;
	overflow: hidden;
}

.weather_table {
	width: 100%;
}

.weather_i {
	font-size: 55px;
}

.weather_name {
	font-weight: bold;
	font-size: 20px;
}

.weather_tr1 {
	background-color: #0A6EFF;
}

.weather_tr2 {
	background-color: #E8F5FF;
}

.weather_bottom {
	color: #0A6EFF;
}


/* top-left border-radius */
.weather_table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
.weather_table tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.weather_table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  
}
.weather_table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* 로딩관련 css */
.back-drop{
      /* 일단 숨겨 놓는다. */
   display:none;

   /* 화면 전체를 투명도가 있는 회색으로 덮기 위한  css*/
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #cecece;
   padding-top: 300px;
   z-index: 10000;
   opacity: 0.5;
   text-align: center;
}
   
.back-drop img{
   width: 100px;
   /* rotateAnimation 이라는 키프레임을 2초 동한 일정한 비율로  무한 반복하기 */
   animation: rotateAnimation 2s ease-out infinite;
}
   
/* 회전하는 rotateAnimation 이라는 이름의 키프레임 정의하기 */
@keyframes rotateAnimation{
   0%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(360deg);
   }
}
/* 로딩관련 css 끝 */


/* 
.card img {
	position: absolute;
	width: 100%;
	margin-left: -150px;
	height: 100%;
}


.paginate_regular {
	margin-bottom: 30px;
	padding-bottom: 10px;
}
.boardThumbWrap {
	text-align: center;
}
 */
