@charset "UTF-8";



/* body {
	font-family: 'Nanum Pen Script', cursive;
} */

.carousel-container {
	padding: 15px;
	background: url("../img/frame.png") center center;
	background-size:cover;
	/* background-color: #F2F2F2 */
}


/*
.carousel-container::before{
        content: "";
        opacity: 0.7;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #000;
}
*/
.carousel {
	padding: 0 20px 0 20px;
	text-align: center;
}

.carousel-item {
	width: 100%;
	height: 400px;
}

.carousel {
      display : block;
      margin-left : auto;
      margin-right : auto;
      margin-top : auto;         
      width: 40%;
}

.carousel-inner video {
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.card-container {
    padding: 10px;
}

.card-search {
	margin-top: 60px;
}

#profileImage {
   width: 30px;
   height: 30px;
   border: 0px;
   /*border: 1px solid #cecece;*/
   border-radius: 50%;
}
#condition{
	padding-left:0px;
	padding-right:0px;
}
#condition_pick{
	padding-left:0px;
	padding-right:0px;
}
.form-control{
	padding-left:0px;
	padding-right:0px;
}
.lan-heart {
	text-align: right;
}

.btn {
	display: inline-block;
	line-height: 30px;	/* 수정 */
	padding: 0 20px;	/* 수정 */
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 700;
	color: #fff;
	font-family: 'Nanum Pen Script', cursive;
}

.btn--radius {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn--radius-2 {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn--pill {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.btn--green {
	background: #57b846;
}

.btn--green:hover {
	background: #4dae3c;
}

.btn--blue {
	background: #4272d7;
}

.btn--blue:hover {
	background: #3868cd;
}

.btn--blue-2 {
	background: #5fcf80;
}

.btn--blue-2:hover {
	background: #008040;
	color: #ffffff;
}

.btn--red {
	background: #ff4b5a;
}

.btn--red:hover {
	background: #eb3746;
}

.card-img-top {
	height: 10rem;
	object-fit: cover;
}

svg.heart1 {
   cursor: pointer;
   color: red;
}

svg.heart2 {
   cursor: pointer;
   color: red;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
}

.section-bg {
	background-color: #f1f1f1;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 100px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 30px;
	padding-bottom: 0;
	color: #000000;
}

.section-title p {
	margin-bottom: 0;
}


.heart-click {
   color: red;
}

a.heart-click:hover {
   color: red;
}

.writebox {
	padding: 0px;
}

#search{
   margin-top: 15px;
}

h2, h3, .lan-heart {
	font-family: 'Nanum Pen Script', cursive;
}

.small, small {
	font-family: 'Noto Sans KR', sans-serif;
}
