@charset "UTF-8";

.heart1, .heart2, .heart3{
	color: red;
}


.card-title { 
	width:100px; 
	padding:0 5px; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap; 
	text-align: left;
}

.card-heart {
	text-align: right;
}

.carousel-container{
	background: #ecf8eb; 
}

.carousel{
	padding: 0 50px 0 50px;
}

.card{
	width:100%;
	height: auto;
}

.row.card-list-container{
	text-align: center;
}

/*--------------------------------------------------------------
# General




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f1f1f1;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5c9f24;
}

.section-title p {
  margin-bottom: 0;
}
