@charset "UTF-8";

body {
	color: #999;
	background: #f3f3f3;
	font-family: 'Roboto', sans-serif;
}
.select-form {
	width: 500px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}
.select-form h3 {
	color: #333;
	margin: 0 0 15px 0;
	display: inline-block;
	padding: 0 20px 10px 20px;
	border-bottom: 3px solid #5cd3b4;
}

.view2 {
	margin: 10px 50px 10px 50px;
	text-align: center;
}

.view3 {
	width: 90%;
	height: 90%;
	background-color: #fff;
	margin: 0px auto;
	border-radius: 1em;
}
.table {
	margin-bottom: 0px !important;
}

.table th {
	background-color: #87EEC6;
}

.table_replay_view {
	text-align: left !important;
}
.coment_re {
	text-align: left;
}
.view4 {
	text-align:left!important;
	border: 2px solid;
}
.table_reply tr, td {
	border: 0px;
}
.coment_input_text {
	width: 97%;
}
.btn-success {
	background-color:#5cd3b4;
	border-color: #5cd3b4;
}
.btn_list {
	float: left;
}
.btn_dm {
	float: right;
}
.thead_view {
	border-bottom: 1px solid black;
}
.like {
	text-align: left;
}

svg.heart1 {
	cursor: pointer;
	color: red;
}

svg.heart2 {
	cursor: pointer;
	color: red;
}

.reply_delete {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.reply_delete .tooltip_delete {
  visibility: hidden;
  width: 120px;
  background-color: #040505;
  font-size:13px;color:#fff;font-family:IranYekanWeb;
  text-align: center;
  border-radius: 3px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
  margin-left: -60px;
}

.reply_delete .tooltip_delete::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #040505 transparent;
}

.reply_delete:hover .tooltip_delete {
  visibility: visible;
}

.rereply_td {
	color: black!important;
}

.ccontent_reply {
	width:95%;
	height:90%;
}

.thead_view {
	font-weight: bold;
}
